<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Watchdog">
    <Parameter Name="AIKey" Value="a1a44b1f-2433-4a18-914f-d4172bb4445d" />
    <Parameter Name="WatchdogHealthReportInterval" Value="00:30:00" />
    <Parameter Name="HealthCheckInterval" Value="00:01:00" />
    <Parameter Name="MetricInterval" Value="00:01:00" />
    <Parameter Name="DiagnosticEndpoint" Value="https://fagoxchhcp5523.table.core.windows.net/" />
    <Parameter Name="DiagnosticSasToken" Value="?sv=2016-05-31&amp;ss=t&amp;srt=sco&amp;sp=rdl&amp;se=2017-04-18T03:14:27Z&amp;st=2017-03-18T19:14:27Z&amp;spr=https&amp;sig=L7bQo9%2F70g9QT5xYE2pyZRqvRtOOOuFAnv99VCkQSvI%3D" />
    <Parameter Name="DiagnosticInterval" Value="00:02:00" />
    <Parameter Name="DiagnosticTimeToKeep" Value="7.00:00:00" />
    <Parameter Name="DiagnosticTargetCount" Value="10000" />
  </Section>
</Settings>
